<!-- <div class="col-md-3 col-sm-6 col-xs-6">
  <div class="course">
    <a href="#" class="course-img">
      <img>
        <%= tour.places.each do |place| %>
        <%= image_tag(place.picture.url) %>
      <% end %>
      </img>
      <i class="course-link-icon fa fa-link"></i>
    </a>
    <a class="course-title" href="#"><%= tour.description %></a>
    <div class="course-details">
      <span class="course-category"><%= tour.price %></span>
      <span class="course-price course-free"><%= tour.name %></span>
    </div>
  </div>
</div> -->
