<tr>
  <td><%= tour_detail.id %></td>
  <td><%= tour_detail.tour_id %></td>
  <td><%= tour_detail.place_id %></td>
  <td><%= tour_detail.employee_id %></td>
  <td><%= tour_detail.start_day %></td>
  <td><%= tour_detail.end_day %></td>
  <td><%= I18n.localize tour_detail.created_at, formats: :date_month_year %></td>
  <td>
    <%= link_to edit_admin_tour_detail_path(tour_detail.id), class: "btn btn-warning" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
  <td>
    <%= link_to  admin_tour_detail_path(tour_detail.id), method: :delete,
      data:{confirm: t(".sure"), remote: true}, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
